---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import MainLayout from "~/layouts/Layout.astro";

const baasProviders = (await getCollection("baasProvider")).sort((a, b) =>
  a.data.name.localeCompare(b.data.name),
);
---

<MainLayout>
  <ul class="flex flex-col gap-y-5">
    {
      baasProviders.map((baasProvider) => (
        <li>
          <article class="overflow-visible">
            <header class="flex items-center gap-x-2">
              <Image
                src={baasProvider.data.logo}
                alt={baasProvider.data.name}
                width={18}
              />
              <h2 class="text-lg font-bold">
                <a href={`/baas/${baasProvider.data.slug}`}>
                  {baasProvider.data.name}
                </a>
              </h2>
            </header>
            <p>{baasProvider.data.description}</p>
          </article>
        </li>
      ))
    }
  </ul>
</MainLayout>
