---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import MainLayout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const fullStackFrameworks = await getCollection("fullStackFramework");
  return fullStackFrameworks.map((fullStackFramework) => ({
    params: { slug: fullStackFramework.data.slug },
    props: fullStackFramework,
  }));
}
type Props = CollectionEntry<"fullStackFramework">;

const fullStackFramework = Astro.props;
const pageTitle =
  fullStackFramework.data.name + " | Features, overview, and more";
---

<MainLayout {...fullStackFramework.data} title={pageTitle}>
  <div class="flex flex-col gap-y-3">
    <h1>{fullStackFramework.data.name}</h1>
    <Image
      src={fullStackFramework.data.logo}
      alt={fullStackFramework.data.name}
      format="webp"
      loading="eager"
      width={80}
    />
    <a target="_blank" href={fullStackFramework.data.website}
      >{fullStackFramework.data.website}</a
    >
    <p>{fullStackFramework.data.description}</p>
  </div>
</MainLayout>
