---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

type Props = {
  baasProvider: CollectionEntry<"baasProvider">;
};

const { baasProvider } = Astro.props;
const pricing = baasProvider.data.pricing;

const formatValue = (value: any, isPrice: boolean = false) => {
  if (value === null) return "-";
  if (value === "unlimited") return "Unlimited";
  if (isPrice)
    return new Intl.NumberFormat("en-US", {
      style: "currency",
      currency: "USD",
      minimumFractionDigits: 0,
      maximumFractionDigits: 6,
    }).format(value);
  if (typeof value === "number")
    return new Intl.NumberFormat("en-US").format(value);
  return value;
};

const getOveragePricingUnit = (key: string) => {
  switch (key) {
    case "Team members":
      return "per member";
    case "Projects":
      return "per project";
    case "Auth users":
      return "per user";
    case "DB storage":
    case "DB bandwidth":
    case "File storage":
    case "File bandwidth":
      return "per GB";
    case "Function calls":
      return "per million";
    default:
      return "";
  }
};

const getResourceUnit = (key: string) => {
  switch (key) {
    case "DB storage":
    case "DB bandwidth":
    case "File storage":
    case "File bandwidth":
      return "GB";
    default:
      return "";
  }
};
---

<div class="space-y-8">
  <div
    class="rounded-xl bg-white p-8 shadow-lg transition-all duration-300 hover:shadow-xl"
  >
    <p class="mb-8 text-lg italic text-gray-700">
      Dive into the world of Backend-as-a-Service pricing models and discover
      the perfect fit for your project!
    </p>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <div
        class="rounded-lg bg-purple-200 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-xl"
      >
        <h4
          class="mb-3 flex items-center text-xl font-semibold text-purple-800"
        >
          <Icon name="mdi:gift" class="mr-2 h-7 w-7 text-purple-600" /> Free resources
        </h4>
        <p class="leading-relaxed text-purple-700">
          Kickstart your project with a treasure trove of free resources each
          month. Think database storage, API calls, and user authentication –
          all on the house!
        </p>
      </div>
      <div
        class="rounded-lg bg-amber-200 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-xl"
      >
        <h4 class="mb-3 flex items-center text-xl font-semibold text-amber-800">
          <Icon name="mdi:briefcase" class="mr-2 h-7 w-7 text-amber-600" /> Subscription
          plan resources
        </h4>
        <p class="leading-relaxed text-amber-700">
          Level up with paid plans offering beefed-up resources and cool extra
          features. Just watch out for those sneaky overage charges!
        </p>
      </div>
      <div
        class="rounded-lg bg-green-200 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-xl"
      >
        <h4 class="mb-3 flex items-center text-xl font-semibold text-green-800">
          <Icon name="mdi:scale-balance" class="mr-2 h-7 w-7 text-green-600" /> Usage-based
          resources
        </h4>
        <p class="leading-relaxed text-green-700">
          Embrace the flexibility of pay-as-you-go! Start free and only pay for
          what you use. It's like a buffet for your backend needs.
        </p>
      </div>
    </div>
    <p class="mt-8 text-center text-lg font-medium text-gray-700">
      Ready to choose? Consider your project's appetite for resources, its
      growth potential, and your wallet's comfort zone. The perfect BaaS pricing
      model is out there waiting for you!
    </p>
  </div>
  {
    Object.keys(pricing?.freeTierLimits ?? {}).map((key, index) => (
      <div class="overflow-hidden rounded-xl bg-white shadow-lg transition-all duration-300 hover:shadow-xl">
        <div class="px-6 py-8">
          <h3 class="mb-6 text-2xl font-bold leading-tight text-gray-900">
            {key}
          </h3>
          <div class="grid grid-cols-1 gap-8 sm:grid-cols-3">
            <div class="overflow-hidden rounded-lg bg-purple-200 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-lg">
              <dt class="mb-2 text-sm font-medium text-purple-800">
                Free resources
              </dt>
              <dd class="text-2xl font-semibold tracking-tight text-purple-700">
                {key === "Price" ? (
                  pricing?.freeTierLimits[
                    key as keyof typeof pricing.freeTierLimits
                  ] === null ? (
                    <Icon name="mdi:check" class="h-8 w-8 text-purple-700" />
                  ) : (
                    formatValue(
                      pricing?.freeTierLimits[
                        key as keyof typeof pricing.freeTierLimits
                      ],
                      true,
                    )
                  )
                ) : (
                  (() => {
                    const value =
                      pricing?.freeTierLimits[
                        key as keyof typeof pricing.freeTierLimits
                      ];
                    return value === null
                      ? "-"
                      : `${formatValue(value)} ${getResourceUnit(key)}`;
                  })()
                )}
              </dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-amber-200 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-lg">
              <dt class="mb-2 text-sm font-medium text-amber-800">
                Subscription plan resources
              </dt>
              <dd class="text-2xl font-semibold tracking-tight text-amber-700">
                {key === "Price"
                  ? pricing?.pricedTier[
                      key as keyof typeof pricing.pricedTier
                    ] === null
                    ? `${baasProvider.data.name} offers usage-based pricing only`
                    : `${formatValue(
                        pricing?.pricedTier[
                          key as keyof typeof pricing.pricedTier
                        ],
                        true,
                      )} per month`
                  : (() => {
                      const value =
                        pricing?.pricedTier[
                          key as keyof typeof pricing.pricedTier
                        ];
                      return value === null
                        ? "-"
                        : `${formatValue(value)} ${getResourceUnit(key)}`;
                    })()}
              </dd>
            </div>
            <div class="overflow-hidden rounded-lg bg-green-200 p-6 shadow-md transition-all duration-300 hover:-translate-y-1 hover:shadow-lg">
              <dt class="mb-2 text-sm font-medium text-green-800">
                Usage-based resources
              </dt>
              <dd class="text-2xl font-semibold tracking-tight text-green-700">
                {(() => {
                  const value =
                    pricing?.overagePricing[
                      key as keyof typeof pricing.overagePricing
                    ];
                  if (key === "Price") {
                    return (
                      <Icon name="mdi:check" class="h-8 w-8 text-green-700" />
                    );
                  } else if (value === null) {
                    return "-";
                  } else if (key !== "Note" && value !== "unlimited") {
                    return `${formatValue(value, true)} ${getOveragePricingUnit(key)}`;
                  }
                  return formatValue(value, key !== "Note");
                })()}
              </dd>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
