---
type Props = {
  title?: string;
  description?: string;
  image?: string;
};


import '@fontsource-variable/quicksand';
import Head from "~/components/Head.astro";
import Footer from "~/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_SLOGAN } from "~/consts";

const { title, description = SITE_DESCRIPTION, image } = Astro.props;

const pageTitle = title ? title : `${SITE_TITLE} | ${SITE_SLOGAN}`;
---

<!doctype html>
<html lang="en">
  <Head title={pageTitle} description={description} image={image} />
  <body class="flex min-h-screen flex-col p-4">
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
